@import "colores";
@import "fuentes";
@import "mixins";

.carousel-inner{
    h5{
        color: rgb(0, 132, 255);
        font-size: 5em;
    }
    h4{
        color: rgb(0, 132, 255);
        font-size: 5em;
    }
    p{
        color: rgb(0, 0, 0);
        font-size: 1.2em;
        background-color: rgba(255, 255, 255, 0.486);
        background-size: cover;
        
    }
}

.footerDestino{
    background-color: black;
    text-align: center;
    color: rgb(122, 122, 122);
    margin-top: 0em;
    padding-bottom: 2.5em;
    padding-top: 2.5em;  
}