@import "colores";
@import "fuentes";
@import "mixins";

.carousel-inner{
    
    h4{
        color: rgb(0, 1, 2);
        font-size: 5em;
        padding-bottom: 1em;
        font-family: $fuente-principal;
    }
    p{
        color: rgb(0, 0, 0);
        font-size: 1.2em;
        padding-bottom: 25em;
        font-family: $fuente-principal;
        
    }
}

.footerDestino{
    background-color: black;
    text-align: center;
    color: rgb(122, 122, 122);
    margin-top: 0em;
    padding-bottom: 2.5em;
    padding-top: 2.5em;  
    font-family: $fuente-principal;
}